@font-face {
    font-family: LucidaGrande;
    font-weight: normal;
    src: url("../fonts/LucidaGrande.ttf") format("truetype");
}


@font-face {
    font-family: Ambroise;
    font-weight: normal;
    src: url("../fonts/AmbroiseStdFrancois-Demi.otf") format("opentype");
}

@font-face {
    font-family: OxideSolidOT;
    font-weight: normal;
    src: url("../fonts/OxideSolidOT.otf") format("opentype");
}

@font-face {
    font-family: Bitter;
    font-weight: bold;
    src: url("../fonts/Bitter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Bitter;
    font-style: italic;
    src: url("../fonts/Bitter-Italic.ttf") format("truetype");
}

@font-face {
    font-family: Bitter;
    font-weight: normal;
    src: url("../fonts/Bitter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: normal;
    src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}

