body,
nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: none;
    /* font-family: LucidaGrande; */
}

.nav-link {
    font-weight: bold;
}

.social {
    width: 130px;
    float: right;
    padding-top: 120px;
    margin-top: -70px;
}

.social-item,
.mpop-item {
    border-top: 1px solid #ccc;
    min-height: 64px;
}

.social-item div,
.mpop-item div{
    margin:16px;
}

.social-item span:nth-of-type(1),
.mpop-item span:nth-of-type(1),
.mpop-item span:nth-of-type(3){
    color:rgb(102, 102, 102);
}

.social-item img,
.mpop-item img{
    margin-right: 8px;
    float: left;
}
.social-item .spancell {
    float: left;
    margin: 0;
}

.social-item span,
.mpop-item span {
    font-family: OxideSolidOT;
    font-size: 10px;
    display: block;    
}

.share {
    width: 100%;
    border-top: 10px solid black;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 34px;
    padding: 16px;
}

.mpop {
    width:300px;
    float: left;
    padding-top: 400px;
}

.mostpop {
    width: 100%;
    border-top: 10px solid black;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 34px;
    padding: 16px;
}

.mpop-item {
    min-height: 107px;
}

.mpop-item img {
    max-width: 75px;
    max-height: 75px;
}

.mpop-item span:nth-of-type(2){
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
}

.page {
    font-family: Bitter;
    font-size: 18px;
    line-height: 28px;
    margin-left: 75px;
}

strong {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    white-space: none;
    padding-top: 20px;
    display: inline-block;
}

.ambroise {
    font-family: Ambroise !important;
}

div#title {
    padding-top: 40px;
    margin-left: 25px;
}

div#title h1 {
    font-family: Ambroise !important;    
    text-transform: uppercase;
    font-size: 64px;
    margin-bottom: 50px;
}

div#title span {
    font-family: OxideSolidOT;
    color:rgb(102, 102, 102);
    font-size: 10px;
}

div#fakeslide {
    background-color: white;
    width: calc(100vw - 10px);
    height: 100vh;
    z-index: 100;
}

div#fakeslide h1{
    top: 40vh;
    font-size: 75px;
    text-align: center;
    width: 100%;
}

div#fakeslide h3{
    margin-top: 60vh;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

iframe {
    width: 537px;
    height: 300px;
    margin: 20px 0px;
}

.page ul{
    margin: 20px 0;
}

.page li{
    margin: 10px 0;
}

footer {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    shadow
}

footer img {
    width: 150px;
    margin: 30px;
}

footer ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li {
    width: 40px;
    display: inline-block;
}

footer ul img {
    width: 30px;
    margin: 4px;
    display: inline;
}

.glitch-img {
    position: absolute;
}